[id^='tile_'] {
  /* height: 10vmin; */
  width: 10vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

img {
  position: absolute;
}

.selected {
    -webkit-box-shadow:inset 0px 0px 0px 5px #f00;
    -moz-box-shadow:inset 0px 0px 0px 5px #f00;
    box-shadow:inset 0px 0px 0px 5px #f00;
}
